latex/
doc/
build/
qt-creator/
qtcreator-build/
*~
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
Makefile
cmake_install.cmake
install_manifest.txt
*.qm
*.o
*.so
*.ccx
*.a
*.cxx
ui_*.h
config.h
version.h
q4wine-mount
q4wine-cli
q4wine
q4wine-helper
*.cbp
*.user
*.gz
*.bz2
*.swp
