[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment[uk]=Графічна оболонка на Qt4 для налаштування Wine
Comment=Графічна оболонка на Qt4 для налаштування Wine
Comment[en]=A Qt4 GUI configuration tool for Wine
Comment[ru]=Графическая оболочка на Qt4 для настройки Wine
Encoding=UTF-8
Exec=q4wine
GenericName[uk]=Графічна оболонка на Qt4 для налаштування Wine
GenericName=Графічна оболонка на Qt4 для налаштування Wine
GenericName[en]=A Qt4 GUI configuration tool for Wine
GenericName[ru]=Графическая оболочка на Qt4 для настройки Wine
Icon=/home/brezerk/develop/q4wine/src/icons/q4wine-128x128.png
MimeType=inode/directory;
Name[uk]=Q4Wine
Name=Q4Wine
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.111
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
