[Desktop Entry]
Categories=Qt;System;Emulator;
GenericName=utility for Wine applications and prefixes management.
GenericName[cz]=užitečný program pro programy wine a správu předpon.
GenericName[de]=Werkzeug zur Verwaltung der Wine-Anwendungen und -Präfixe.
GenericName[en]=utility for Wine applications and prefixes management
GenericName[es]=Utilidad para el manejo de aplicaciones y prefijos de wine.
GenericName[it]=programma per gestire le applicazioni con Wine e i prefissi.
GenericName[ru]=программа для настройки приложений и управления префиксами Wine.
GenericName[uk]=програма для налаштування програм та керування префіксами Wine.
Exec=q4wine -b %u
Icon=q4wine
Name=Q4Wine
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;
Keywords=Wine;Windows;Emulator;
